# User-specific stuff:
.idea/*.xml
*/.idea/*.xml
*.iml
.vscode/**
.java-version
.attach_pid*

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# JIRA plugin
atlassian-ide-plugin.xml

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Asciidoctor plugin
.asciidoctor

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Eclipse template
.metadata
*.tmp
*.bak
*.swp
#*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Emacs backup files
#*~
.scannerwork

spock-reports

# Other exclusions

.DS_Store
elasticsearch-data/
jqassistant/

# Exclude the C++ libs
plc4cpp/libs/libs/
plc4cpp/.idea/
plc4cpp/cmake-build-debug/

    # Ignore VisualStudio related files
**/CMakeSettings.json
**/.vs/**

# Exclude temporary python stuff
plc4py/venv/
**/__pycache__/**/*
/plc4cpp/.vscode/ipch
*.egg-info
**/Pipfile.lock
**/Pipfile

# Exclude gradle stuff
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

#exclude ruby specifics:

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.
.byebug_history

## Specific to RubyMotion:
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# vendor/Pods/

## Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# When running the cpp module in clion, it adds another ".idea" directory.
/sandbox/plc4cpp/.idea/

# Exclude VSCode project settings.
.vscode/

# Temp stuff ...
/sandbox/plc4go/temp/
/plc4go/.idea/
plc4j/examples/hello-storage-elasticsearch/.factorypath


*.make
*.cmake
*.internal
link.txt*/
**/plc4c/**/Makefile
*.includecache
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl
/.idea/libraries/
/.idea/inspectionProfiles/
/out/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml

# Develocity
.mvn/.gradle-enterprise/
/plc4j/tools/ui/frontend/frontend/node/
/plc4j/tools/ui/frontend/frontend/node_modules/
/plc4j/tools/ui/frontend/frontend/dist/
/plc4j/tools/ui/backend/storage/settings/log/log.ctrl
/plc4j/tools/ui/backend/storage/settings/log/log1.dat
/plc4j/tools/ui/backend/storage/settings/log/logmirror.ctrl
/plc4j/tools/ui/backend/storage/settings/log/README_DO_NOT_TOUCH_FILES.txt
/plc4j/tools/ui/backend/storage/settings/seg0/c1a1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c1b1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c1c0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c1d1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c1e0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c1f1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2a1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2b1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2c1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2d0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2e1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c2f0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3a1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3b1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3c0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3d1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3e1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c3f1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4a1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4b0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4c1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4d0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4e1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c4f1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c10.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c20.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c31.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c41.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c51.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c60.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c71.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c81.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c90.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c101.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c111.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c121.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c130.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c141.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c150.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c161.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c171.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c180.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c191.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c200.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c211.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c221.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c230.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c241.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c251.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c260.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c271.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c281.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c290.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c300.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c311.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c321.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c331.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c340.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c351.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c361.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c371.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c380.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c391.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c400.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c411.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c421.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c430.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c441.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c451.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c461.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c470.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c481.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c490.dat
/plc4j/tools/ui/backend/storage/settings/seg0/c501.dat
/plc4j/tools/ui/backend/storage/settings/seg0/ca1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/cb1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/cc0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/cd1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/ce1.dat
/plc4j/tools/ui/backend/storage/settings/seg0/cf0.dat
/plc4j/tools/ui/backend/storage/settings/seg0/README_DO_NOT_TOUCH_FILES.txt
/plc4j/tools/ui/backend/storage/settings/db.lck
/plc4j/tools/ui/backend/storage/settings/dbex.lck
/plc4j/tools/ui/backend/storage/settings/README_DO_NOT_TOUCH_FILES.txt
/plc4j/tools/ui/backend/storage/settings/service.properties
/.idea/.name
/storage/settings/log/log.ctrl
/storage/settings/log/log1.dat
/storage/settings/log/logmirror.ctrl
/storage/settings/log/README_DO_NOT_TOUCH_FILES.txt
/storage/settings/seg0/c1a1.dat
/storage/settings/seg0/c1b1.dat
/storage/settings/seg0/c1c0.dat
/storage/settings/seg0/c1d1.dat
/storage/settings/seg0/c1e0.dat
/storage/settings/seg0/c1f1.dat
/storage/settings/seg0/c2a1.dat
/storage/settings/seg0/c2b1.dat
/storage/settings/seg0/c2c1.dat
/storage/settings/seg0/c2d0.dat
/storage/settings/seg0/c2e1.dat
/storage/settings/seg0/c2f0.dat
/storage/settings/seg0/c3a1.dat
/storage/settings/seg0/c3b1.dat
/storage/settings/seg0/c3c0.dat
/storage/settings/seg0/c3d1.dat
/storage/settings/seg0/c3e1.dat
/storage/settings/seg0/c3f1.dat
/storage/settings/seg0/c4a1.dat
/storage/settings/seg0/c4b0.dat
/storage/settings/seg0/c4c1.dat
/storage/settings/seg0/c4d0.dat
/storage/settings/seg0/c4e1.dat
/storage/settings/seg0/c4f1.dat
/storage/settings/seg0/c10.dat
/storage/settings/seg0/c20.dat
/storage/settings/seg0/c31.dat
/storage/settings/seg0/c41.dat
/storage/settings/seg0/c51.dat
/storage/settings/seg0/c60.dat
/storage/settings/seg0/c71.dat
/storage/settings/seg0/c81.dat
/storage/settings/seg0/c90.dat
/storage/settings/seg0/c101.dat
/storage/settings/seg0/c111.dat
/storage/settings/seg0/c121.dat
/storage/settings/seg0/c130.dat
/storage/settings/seg0/c141.dat
/storage/settings/seg0/c150.dat
/storage/settings/seg0/c161.dat
/storage/settings/seg0/c171.dat
/storage/settings/seg0/c180.dat
/storage/settings/seg0/c191.dat
/storage/settings/seg0/c200.dat
/storage/settings/seg0/c211.dat
/storage/settings/seg0/c221.dat
/storage/settings/seg0/c230.dat
/storage/settings/seg0/c241.dat
/storage/settings/seg0/c251.dat
/storage/settings/seg0/c260.dat
/storage/settings/seg0/c271.dat
/storage/settings/seg0/c281.dat
/storage/settings/seg0/c290.dat
/storage/settings/seg0/c300.dat
/storage/settings/seg0/c311.dat
/storage/settings/seg0/c321.dat
/storage/settings/seg0/c331.dat
/storage/settings/seg0/c340.dat
/storage/settings/seg0/c351.dat
/storage/settings/seg0/c361.dat
/storage/settings/seg0/c371.dat
/storage/settings/seg0/c380.dat
/storage/settings/seg0/c391.dat
/storage/settings/seg0/c400.dat
/storage/settings/seg0/c411.dat
/storage/settings/seg0/c421.dat
/storage/settings/seg0/c430.dat
/storage/settings/seg0/c441.dat
/storage/settings/seg0/c451.dat
/storage/settings/seg0/c461.dat
/storage/settings/seg0/c470.dat
/storage/settings/seg0/c481.dat
/storage/settings/seg0/c490.dat
/storage/settings/seg0/c501.dat
/storage/settings/seg0/ca1.dat
/storage/settings/seg0/cb1.dat
/storage/settings/seg0/cc0.dat
/storage/settings/seg0/cd1.dat
/storage/settings/seg0/ce1.dat
/storage/settings/seg0/cf0.dat
/storage/settings/seg0/README_DO_NOT_TOUCH_FILES.txt
/storage/settings/db.lck
/storage/settings/dbex.lck
/storage/settings/README_DO_NOT_TOUCH_FILES.txt
/storage/settings/service.properties
