# User-specific stuff:
.idea/**
*/.idea/**
*.iml
.vscode/**
.java-version

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# JIRA plugin
atlassian-ide-plugin.xml

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Asciidoctor plugin
.asciidoctor

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Eclipse template
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Emacs backup files
*~
.scannerwork

spock-reports

# Other exclusions

.DS_Store
elasticsearch-data/
jqassistant/

# Exclude the C++ libs
plc4cpp/libs/libs/
plc4cpp/.idea/
plc4cpp/cmake-build-debug/

    # Ignore VisualStudio related files
**/CMakeSettings.json
**/.vs/**

# Exclude temporary python stuff
plc4py/venv/
**/__pycache__/**/*
/plc4cpp/.vscode/ipch
*.egg-info

# Exclude gradle stuff
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

exclude ruby specifics:

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.
.byebug_history

## Specific to RubyMotion:
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# vendor/Pods/

## Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# When running the cpp module in clion, it adds another ".idea" directory.
/sandbox/plc4cpp/.idea/

# Exclude VSCode project settings.
.vscode/

# Temp stuff ...
/sandbox/plc4go/temp/
/plc4go/.idea/
plc4j/examples/hello-storage-elasticsearch/.factorypath


*.make
*.cmake
*.internal
link.txt*/
**/plc4c/**/Makefile
*.includecache
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl
