
################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

################################################################################
# Demo config file for devices.
#
# The configuration files have the following content: 
#
# device=uid, discrete_inputs, coils, input_registers, holding_registers, 
#        short_description
#
# where
#
# . device:             Descriptive name within the control architecture. 
#                       Must be unique.
# . uid:                Unit Identifier like modbus standar, from 0 to 255.
# . discrete_inputs:    Number of discrete inputs
# . coils:              Number of coil ouputs
# . input_registers:    Number of input registers for the device.
# . holding_registers:  Number of holding registers for the device.
# . short_description:  A short description for the modbus device.
#
# If you set any discrete_inputs or coils or input_registers to zero (0)
# then all register and coils points to holding_register, always that
# holding_register is diferent than zero (0).
#
# Example:
# DEV001=69,100,100,50,50,Amoniac compresors
# DEV002=70,0,0,0,100,Water system
# 
################################################################################


