#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
aenum==3.1.15
annotated-types==0.7.0
bitarray==3.0.0
black==24.10.0
build==1.2.2.post1
cfgv==3.4.0
click==8.1.7
coverage==7.6.4
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
funkify==0.4.5
identify==2.6.1
iniconfig==2.0.0
mccabe==0.7.0
mock==5.1.0
mypy==1.12.1
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pip-tools==7.4.1
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
pyproject_hooks==1.2.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-mock==3.14.0
PyYAML==6.0.2
requires==0.10.5
typing_extensions==4.12.2
virtualenv==20.27.0
xtyping==0.8.2
