
################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

################################################################################
# Demo config file for devices.
#
# The configuration files have the following content: 
#
# device=url,name,description
#
# where
#
# . device:      Descriptive name within the control architecture. 
#                Must be unique.
# . url:         URL as the driver is defined. It generally follows the 
#                standardized pattern in the Apache PLC4X project.
# . name:        Device short name.
# . description: Long description of the device. Such as location
#                or functionality.
#
# Example:
# AS01=s7://192.168.1.23/0/2,simatic,compresor system
# 
# Although there can be a single configuration file for all devices, 
# practice shows that it is recommended to have one configuration file 
# per device.
#
# Example:
# org.apache.plc4x.merlot.das.device-AS01.cfg
#
################################################################################


