<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set default log level to WARN for cleaner test output -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- You can enable DEBUG for specific loggers if needed during debugging -->
    <!-- <logger name="org.apache.plc4x.java.utils.subscriptionemulation" level="DEBUG"/> -->
</configuration>
